<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${basedir}/logs/nlog-internal.txt" internalLogLevel="Fatal">
  <targets async="true">
    <target name="logconsole" xsi:type="ColoredConsole" />
    <target name="file" xsi:type="File" fileName="${basedir}/logs/${processname}.${ticks}.txt" maxArchiveFiles="5" encoding="utf-8"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
